html, body {
  margin: 0;
  padding:0;
  height:100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.people-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding:10px;
}

.people-container > div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  text-align: left;
}

.people-container > div > *{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  
}
 
